body {
  background-color: rgb(220, 255, 252);
}
#block {
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  max-width: 1200px;
  margin: auto;
  border-radius: 12px;
  block-size: 70px;
}

#color {
  color: rgb(0, 133, 133);
}
